/ChessGame/ChessController/obj/Debug/net9.0/ChessController.AssemblyInfoInputs.cache
/ChessGame/ChessController/obj/Debug/net9.0/ChessController.csproj.CoreCompileInputs.cache
/ChessGame/ChessController/bin/Debug/net9.0/ChessController.dll
/ChessGame/ChessController/obj/Debug/net9.0/ref/ChessController.dll
/ChessGame/ChessController/obj/Debug/net9.0/refint/ChessController.dll
/ChessGame/ChessController/obj/Debug/net9.0/ChessController.dll
/ChessGame/ChessInterface/bin/Debug/net9.0/ChessController.dll
/ChessGame/ChessController/bin/Debug/net9.0/ChessController.pdb
/ChessGame/ChessController/obj/Debug/net9.0/ChessController.pdb
/ChessGame/ChessInterface/bin/Debug/net9.0/ChessController.pdb
/ChessGame/ChessController/obj/Debug/net9.0/ChessController.sourcelink.json
/ChessGame/ChessInterface/obj/Debug/net9.0/ChessInterface.AssemblyInfo.cs
/ChessGame/ChessInterface/obj/Debug/net9.0/ChessInterface.AssemblyInfoInputs.cache
/ChessGame/ChessInterface/obj/Debug/net9.0/ChessInterface.csproj.AssemblyReference.cache
/ChessGame/ChessInterface/obj/Debug/net9.0/ChessInterface.csproj.CoreCompileInputs.cache
/ChessGame/ChessInterface/bin/Debug/net9.0/ChessInterface.dll
/ChessGame/ChessInterface/obj/Debug/net9.0/ref/ChessInterface.dll
/ChessGame/ChessInterface/obj/Debug/net9.0/refint/ChessInterface.dll
/ChessGame/ChessInterface/obj/Debug/net9.0/ChessInterface.dll
/ChessGame/ChessInterface/obj/Debug/net9.0/ChessInterface.GeneratedMSBuildEditorConfig.editorconfig
/ChessGame/ChessInterface/bin/Debug/net9.0/ChessInterface.pdb
/ChessGame/ChessInterface/obj/Debug/net9.0/ChessInterface.pdb
/ChessGame/ChessInterface/obj/Debug/net9.0/ChessInterface.sourcelink.json
/ChessGame/ChessInterface/obj/Debug/net9.0/Avalonia/resources
/ChessGame/ChessInterface/obj/Debug/net9.0/Avalonia/Resources.Inputs.cache
/.idea/projectSettingsUpdater.xml
/.idea/workspace.xml
